body{
  width: 100%;
}
a{
  text-decoration: none;
  color: black;
}
.back-picture{
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.f2HXLHeDrS3pbfAd1cPOYQHaEK&pid=Api&P=0");
}
.slide-row{
    align-items: center;
}
.text-slide{
    margin-left: 5rem;
    width: 100%;
}
.picture-slide{
    width: 100%;  
}
.picture-slide1{
   height: 95vh;
   box-sizing: border-box;
}